<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Error 404</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Error 404</h1>
    <p>Page You are trying to access cannot be found. Error 404</p>
    <img src="/error404.jpg" />
  </body>
</html>
